/* COLORS */
$primary: #ACFFBB;
$secondary:rgb(115, 201, 131)B;
$hover: #494949;
$dark: #1E1E1E;
$light: #FFF;

/* POLICES */
$h1: 1.5rem;
$h2: 1.25rem;
$h3: 1rem;
$text: 0.75rem;

/* EFFECTS */
$text-shadow: 0 0 1px $dark;