/* abstracts */
/* COLORS */
/* POLICES */
/* EFFECTS */
/* base */
/* COLORS */
/* POLICES */
/* EFFECTS */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #1E1E1E;
  color: #FFF;
  width: 100%;
  padding-top: 30vh;
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1,
h2,
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  color: #ACFFBB;
}

a {
  text-decoration: none;
  color: #ACFFBB;
}

li {
  list-style: none;
}

span {
  color: #ACFFBB;
}

.icon {
  width: 2.5em;
  height: auto;
  border-radius: 50%;
}

.button {
  background-color: #ACFFBB;
  color: #1E1E1E;
  border: none;
  border-radius: 0.5em;
  margin: 2em auto;
  width: 8em;
  padding: 0.5em;
}

.button:hover {
  cursor: pointer;
  background-color: #494949;
  color: #ACFFBB;
  transition: all 0.25s ease-in;
}

.hidden {
  display: none;
}

/* components */
table,
th,
td {
  border: 1px solid #FFF;
}

table {
  margin: 1em;
}

th,
td {
  padding: 0.5em;
}

td {
  position: relative;
}

.close-button {
  border: none;
  background-color: #1E1E1E;
  width: 0;
  height: 0;
}

.close-button-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  color: #FFF;
}
.close-button-icon:hover,
.close-button-icon #search-button:hover {
  background-color: #494949;
  color: #ACFFBB;
  border-radius: 50%;
  transition: all 0.25 ease-in;
}

#search-button {
  background-color: #1E1E1E;
  color: #ACFFBB;
  border: none;
  padding: 0.5em;
}

/* layout */
#header,
#header a {
  width: 100%;
  min-height: 20vh;
  color: #1E1E1E;
  background-color: #ACFFBB;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  border-end-end-radius: 1vw;
  border-end-start-radius: 1vw;
  width: 100%;
  z-index: 100;
}
#header .icon {
  display: block;
  margin: auto;
}
#header #title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Zain", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2rem;
  font-weight: bolder;
  text-shadow: 0 0 1px #1E1E1E;
  width: 100%;
  margin: 0;
}
#header .nav-bar {
  width: 100%;
  padding: 1em 0;
}
#header .nav-bar .container-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 2em;
  padding-left: 0;
  margin: 0;
}
#header .nav-bar .container-buttons a {
  padding: 0.5em;
  border: none;
  position: relative;
}
#header .nav-bar .container-buttons a:hover {
  font-weight: bolder;
}
#header .nav-bar .container-buttons a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.175em;
  background-color: #1E1E1E;
  transform: scale(0, 1);
  transform-origin: 0 100%;
  transition: transform 0.25s ease;
}
#header .nav-bar .container-buttons a:hover::after {
  transform: scale(1, 1);
}
@keyframes border {
  from {
    border-inline-end-width: 0%;
  }
  to {
    border-inline-end-width: 100%;
  }
}
#header .nav-bar .container-profil {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
}
#header .nav-bar .container-profil p {
  margin: 0;
  font-weight: bold;
  text-shadow: 0 0 1px #1E1E1E;
}
#header .nav-bar .container-profil .list-items {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
#header .nav-bar .container-profil .item, #header .nav-bar .container-profil .item a {
  background-color: #494949;
  color: #ACFFBB;
  padding: 0.2em;
}
#header .nav-bar .container-profil .icon-profil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em;
  color: #1E1E1E;
  border: none;
  border-top-right-radius: 0.2em;
  border-top-left-radius: 0.2em;
  background-color: transparent;
}
#header .nav-bar .container-profil .icon-profil:hover,
#header .nav-bar .container-profil .icon-profil .icon-profil:hover {
  background-color: #494949;
  color: #ACFFBB;
  transition: all 0.25 ease-in;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  border-start-start-radius: 1vw;
  border-start-end-radius: 1vw;
  width: 100%;
  background-color: #ACFFBB;
}
#footer,
#footer .container-footer {
  width: 100%;
  min-height: 5vh;
}
#footer .container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1em;
  margin: 0;
}
#footer, #footer a {
  color: #1E1E1E;
  text-align: center;
}
#footer p {
  font-weight: bold;
  text-shadow: 0 0 1px #1E1E1E;
}

/* pages */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-container fieldset {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 1em;
  margin: 2em;
  border-radius: 0.5em;
}
.form-container label {
  padding: 0.5em;
  text-align: left;
}
.form-container .form-text {
  margin: 0.5em;
  text-align: left;
}

img {
  width: 150px;
  height: auto;
}

.text-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-icon {
  margin: 0.25em 0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-align {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container-align #search-bar {
  width: 35vh;
  margin: 4vh;
  text-align: center;
  border-radius: 1em;
}

.username {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 1em;
  margin: 2em;
  border-radius: 0.5em;
  width: 70%;
  height: auto;
  margin: auto;
  border: 1px solid #FFF;
}

/* responsive */
/* MEDIA QUERY */
@media screen and (min-width: 800px) {
  body {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
